* {
  margin: 0;
  padding: 0;
}

/* PAGE SECTIONS */
body {
  /* An Inherited Property is overwritten by other rules */
  /* Rules which have a value for the same property  */
  font-family: sans-serif;
  color: #444;

  /* Not all properties get inherited */
  border-top: 10px solid #1098ad;
}

.container {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.main-header {
  background-color: whitesmoke;
  padding: 20px 40px;
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0px;
  width: 500px;
}

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad;
  margin-bottom: 20px;
  margin-top: 40px;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  /* 1.5 means that the line height will be 1.5 times the font-size */
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* Pseudo-classes */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(even) {
  color: lightsalmon;
}

/* Does not Work */
/* Misconception - this wont work - work if p is first child of article */
article p:first-child {
  color: red;
}

/* 
  Styling Links
  Link; Visited; Hover; Active
*/
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #777;
}

a:hover {
  color: orange;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  margin: 3px;
  padding: 3px;
  display: inline-block;
}

nav a:link:last-child {
  margin: 0px;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  /* Top, Left, Right & Bottom */
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* Pseudo-elements
  - So pseudo elements are essentially element
  that don't exist in the HTML,
  but that we can still select and style in CSS.
  And some common examples of that
  are the first letter of a paragraph
  or the first line of a paragraph
  or of some other texts of course.
*/
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

p::first-letter {
  border-bottom: solid;
}

/* Adjacent Sibling Selector (+) the very next adjacent sibling */
h3 + p::first-line {
  color: darkblue;
}

h2 {
  position: relative;
}

/* ::after */
h2::after {
  /* Mandatory content */
  /* Any Pseudo Element is actually an inline element */
  content: "Top";
  background-color: #ffe70e;
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -25px;
  right: -25px;
}
/* END */

/* 
  Resolving Conflicts
  Take note of the Selector Specificity in the following
*/

/* Descendant Selector  */
footer p {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: green;
}

#copyright {
  color: black;
}
